//- mixin에 입력되는 객체의 이름을 video로 지정
mixin videoBlock(video = {})
   .videoBlock
      a(href=routes.videoDetail(video.id))
         iframe.videoBlock__thumbnail(src=video.videoFile, controls=true)
         h4.videoBlock__title=video.title
         h6.videoBlock__views=video.views